params {
    samplesheet = "samplesheet.csv"
    reference = "data/reference/ecoli_rel606.fasta"
    outdir = "results"
}

process {
    executor = "local"
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/trace.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/dag.html"
}
